[global]
#Controller IP address
CONTROLLER_IP = '192.168.100.1'

#Controller MAC address
CONTROLLER_MAC = '5a:97:c4:9b:8e:43'

#Anonymous unicast controller MAC address
CONTROLLER_SPECIAL_MAC = 'be:ef:be:ef:be:ef'

#Anonymous unicast controller IP address
CONTROLLER_SPECIAL_IP = '192.168.100.2'

[aaa]
#IP address of known DHCP server
DHCP_SERVER_IP = '192.168.100.3'

#MAC address of known DHCP server
DHCP_SERVER_MAC = 'de:ad:be:ef:ba:be'
